ASPNETCORE_URLS=http://0.0.0.0:80
ASPNETCORE_ENVIRONMENT=Production
BingoSecurity__JWTSigningKey=de22a81d-1961-4532-b0bf-401c3bd03d86
BingoSecurity__AdminPassword=LaPrueba
BingoSecurity__DevMode=true
BingoSecurity__WebSocketPublicUrl=http://host.docker.internal:5000
DetailedErrors=false
Logging__LogLevel__Microsoft.AspNetCore.SignalR=Warning